<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="img/weather.png">
        <title>About Me</title>
        <link rel="stylesheet" href = "css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Muhammed Nasser. It uses data from mapbox.com and openweathermap.org</p>
            <img class="portrait" src="./img/me.jpg">
        </div>
        {{>footer}}
    </body>
</html>