<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href = "css/styles.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p> Use this Website to get useful information about forecast.</p>
             <p> Just write the location in the text at the Weather page and click search</p>
             </div>
        {{>footer}}
    </body>
</html>